@model IEnumerable<Department>


<div class="row">
    <div class="col-md-10 offset-md-2">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Employee Count</th>
                <th>Action</th>
            </tr>
            @Html.DisplayForModel()
        </table>
    </div>
</div>
<div clas="row">
    <div class="col-md-2">
        @await  Component.InvokeAsync("CompanySummary", new { title = "部門列表頁的匯總" })
        <vc:company-summary title="部門列表頁的匯總2"></vc:company-summary>
    </div>
    <div class="col-md-4">
        <a asp-action="Add">Add</a>
    </div>
</div>